src/main/resources/Role.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://localhost/role-schema"
           targetNamespace="http://localhost/role-schema"
           elementFormDefault="qualified">

    <xs:element name="Role" type="tns:RoleType"/>

    <xs:complexType name="RoleType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
